<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit group</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="nav_bar/index.html :: navigation"></div>
<div class="d-grid gap-2 col-6 mx-auto">
    <h3>Edit the group</h3>
    <form th:method="PUT" th:action="@{/groups/{id}(id=${group.getId()})}" th:object="${group}">
        <label for="name"><b>Name:</b> </label>
        <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Enter Name"/>
        <br>
        <input class="btn btn-secondary d-grid gap-2 col-12 mx-auto" type="submit" value="Update"/>
    </form>
</div>

</body>
</html>